new user
=====================
<%= link_to destroy_user_session_path, :method => :delete  do%>
 <span class="glyphicon glyphicon-off gi-5x _home_sign_out" title="Sign Out" style="color:white;font-size:34px;position:relative;top:8px;cursor:pointer;">
 </span>logout
 <% end %>